@import url('https://fonts.googleapis.com/css?family=Niramit|Titillium+Web|Kanit|Pacifico');

@font-face {
    font-family: Proxima Nova;
    font-weight: 100;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.svg#svgFontName) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 300;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.svg#svgFontName) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.svg#svgFontName) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 600;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.svg#svgFontName) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 700;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.svg#svgFontName) format("svg")
}

body {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
    position: relative;
}

#main-content {
    background-color: #f3f5f6 !important;
}

.explorer-container {
    margin: 5vh 10%;
}

.search-container {
    margin: 0 7% !important;
}

.explorer-nav-bar {
    background-color: #ffffff !important;
    position: fixed !important;
    z-index: 1000 !important;
}

.explorer-nav-bar span {
    text-transform: capitalize !important;
    font-size: 1.06em;
}

.profile-nav-bar, .explorer-nav-bar {
    box-shadow: none !important;
    background-color: #ffffff !important;
    border-bottom: 2px solid hsla(0, 0%, 54%, .3);
}

.containerImageList {
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
}

.main {
    margin-left: 7%;
    margin-right: 7%;
}

.search {
    text-decoration: none;
    border-radius: 25px;
}

.header-transparent {
    background: transparent !important;
    box-shadow: none !important;
}

.header, .footer {
    background: rgba(21, 21, 23, .95) !important;
}

.header {
    box-shadow: none !important;
    transition: background-color 1s;
}

.header input {
    font-size: 0.9em;
}

.footer {
    padding: 10px 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer a {
    margin-left: 25px;
}

.footer > div {
    display: flex;
    align-items: center;
}

.footer svg {
    color: white;
    font-size: 1.3em;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-content: space-between;
}

.app-logo * {
    outline: none !important;
    text-decoration: none;
    color: #ffffff;
}

iframe {
    z-index: 0 !important;
    display: block !important;
}

#img-uploader {
    padding: 0 20%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5) 100%), radial-gradient(50% 120%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .7) 100%), url(./assets/img/bg2.jpeg);
}

.sm-line-height > div > span {
    line-height: 1em !important;
}

.md-line-height > div > span {
    line-height: 1.4em !important;
}

#top-searchbar div::before {
    display: none;
}

#top-searchbar div::after {
    border-bottom-color: #989898;
}

.jumbotron {
    height: 60vh;
    background-size: cover;
}

.jumbotron > div {
    color: white;
}

.jumbotron h1 {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
}

.jumbotron .dashboard-searchbar {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 3px;
}

.dropdown-avatar * {
    font-family: "Proxima Nova", sans-serif;
    font-size: 1em;
}

.dropdown-avatar .dropdown.icon {
    display: none;
}

.dropdown-avatar h5, .dropdown-avatar p {
    margin: 5px !important;
}

.dropdown-avatar #avatar-header {
    padding-right: 3em !important;
}

.dropdown-avatar #avatar-header {
    border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.dropdown-avatar #avatar-header p {
    color: rgba(0, 0, 0, .4);
}

.dropdown-avatar .menu:before {
    display: block;
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    right: 11px;
    top: -15px;
    margin-top: 7px;
    background: #fff;
    border-radius: 2px;
    border-top: 2px solid rgba(34, 36, 38, .15);
    border-left: 2px solid rgba(34, 36, 38, .15);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -2;
}

.dashboard-searchbar input {
    font-size: 1.2em;
    padding: 15px 0;
}

.dashboard-searchbar span {
    font-size: 3em;
    margin: 5px 5px 0 5px;
}

.jumbotron .trending-searches > a {
    color: hsla(0, 0%, 100%, .8);
    text-decoration: none;
}

.jumbotron .trending-searches > a:not(:last-child)::after {
    content: ", ";
    margin: 2px;
}

.jumbotron .trending-searches > a:hover {
    color: white;
}

.discover-album-small-cards > div {
    padding: 2px 0;
}

.page-container > h1 {
    font-size: 2.15em;
    margin-bottom: 0;
}

.page-container > p {
    font-size: 1.15em;
    margin-top: 5px;
}

.explorer-container .page-container > .main-content {
    margin-top: 15px;
}

.people-image-list {
    display: flex;
    overflow: hidden;
    margin: 10px 0 10px 10px;
    position: relative;
}

.people-image-list > img {
    margin-right: 7px;
}

.people-detail {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    transition: 0.5s;
}

.people-detail:hover {
    background: rgba(255, 255, 255, .85);;
}

.scroll-button {
    bottom: 60px !important;
    width: 38px !important;
    height: 38px !important;
    border: none !important;
    padding: 7px;
    outline: none !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.scroll-button svg {
    fill: rgba(0, 0, 0, .54);
}

.comment-field {
    width: 100%;
    font-size: 0.9em !important;
    border: none !important;
    margin-left: 10px;
    margin-right: 10px;
}

.comment-field::after {
    border-bottom-color: #989898 !important;
}

.control-dots {
    padding-left: 0;
}

.slide {
    background: transparent !important;
    display: flex;
    justify-content: center;
}

.nav-actions {
    display: flex;
    justify-content: flex-end;
}

.nav-actions svg {
    color: white;
    font-size: 1.1em;
}

.post-summary {
    display: flex;
    font-size: 0.8em;
    color: #b3b3b3;
    font-weight: 600;
}

.post-summary > span {
    margin-left: 10px;
}

.dashboard-post {
    margin: 0 5% 10% 5%;
}

.dashboard-main-content .infinite-scroll {
    margin-top: -5vh !important;
}

#dashboard-search-field {
    width: 40vw;
}

.search-query-header:first-letter {
    text-transform: capitalize;
}

.related-search-keyword {
    color: black !important;
    text-decoration: underline;
    margin-left: 7px;
}

.people-card:first-child {
    border-radius: 10px 10px 0 0;
}

.people-card:last-child {
    border-radius: 0 0 10px 10px;
}

.people-card:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
}

#top-searchbar {
    background: white;
    border-radius: 5px;
    padding: 0.7em;
    padding-left: 2.3em !important;
    margin: 6px 0;
}

#top-searchbar .text {
    font-size: 0.9em;
}


#top-searchbar *:not(i) {
    font-family: "Proxima Nova", sans-serif;
}

#top-searchbar i {
    background: white;
}

#top-searchbar input {
    padding-right: 0;
}

#top-searchbar .description {
    display: block;
    font-size: 0.9em;
}

#top-searchbar .menu {
    z-index: 1200;
}

.search-image {
    width: 100%;
}

.nav-actions {
    align-items: center;
}

.nav-actions > a {
    padding: 6px 12px !important;
}

#post-detail-container .name-inline > *{
    display: inline-block;
    vertical-align: middle;
}

#viewer-container {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}

.post-detail-action {
    background: rgba(21, 21, 23, .815) !important;
    padding: 12px 5px 5px 15px;
    font-size: 0.9em;
}

.post-detail-action a {
    color: rgba(255, 255, 255, .7);
}

.post-detail-action a:hover {
    color: #ffffff;
}

.post-detail-action a * {
    vertical-align: middle;
}

#viewer-container .react-viewer {
    background: rgba(21, 21, 23, .75) !important;
}

#viewer-container .react-viewer .react-viewer-list{
    display: flex!important;
    margin: 0!important;
    justify-content: center;
}

#viewer-container .react-viewer .react-viewer-list > li {
    width: auto;
}

.post-info-container{
    margin: 20px 22%;
}

.post-info-container h3{
    font-size: 1.1em;
    margin-top: 0;
}

.post-info-container a{
    font-weight: 700;
}

.post-info-container .post-aggr-item{
    font-size: 0.95em;
}

.post-info-container .additional-info{
    font-size: 0.95em;
}

.post-info-container .additional-info > div{
    margin-bottom: 10px;
}

.post-info-container .additional-info span > *{
    vertical-align: middle;
}

.post-info-container .additional-info span > svg{
    font-size: 1.3em;
    margin-right: 5px;
}

.post-info-container .tags button{
    padding: 5px 12px;
    margin: 5px;
    background-color: #cfd6d9;
    font-size: 0.95em;
    border-radius: 8px;
    text-transform: initial;
    min-height: fit-content;
}


.post-info-container .tags button span:first-letter{
    text-transform: uppercase!important;
}

.tab-divider{
    margin: 1em 0;
    height: 2px;
    background-color: #cfd6d9;
}

.post-info-container .post-header{
    margin-bottom: 10px;
}

.post-info-container .liked-users button{
    font-size: 1.3em;
    padding: 10px;
}

.post-info-container .liked-users .liked-list{
    display: flex;
    align-items: center;
}

.post-info-container .liked-users .liked-list{
    font-size: 0.9em;
}

.post-info-container .comments{
    font-size: 0.9em;
}

.post-info-container .comments > div{
    margin-bottom: 15px;
}

.post-info-container .comments .comment-user span{
    margin-left: 5px;
    color: #898989;
    font-weight: 400;
}
.post-info-container .comments .comment-form > textarea{
    box-sizing: border-box;
    resize: none;
    font-family: "Proxima Nova", sans-serif;
    font-size: 0.9em;
}

.post-info-container .comments .comment-form > textarea:focus{
    border: 1px solid #008ddf;
}

.post-info-container .comments .comment-form:before{
    display: block;
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: -8px;
    top: 5px;
    margin-top: 7px;
    background: #fff;
    border-radius: 2px;
    border-bottom: 1px solid rgba(34,36,38,.15);
    border-left: 1px solid rgba(34,36,38,.15);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
}

.post-info-container .comments .comment-form.focus:before{
    border-bottom-color: #008ddf;
    border-left-color: #008ddf;
}

.post-info-container .action-button{
    margin-left: 10px;
    background-color: #128fdc!important;
    border-radius: 5px;
    padding: 3px 20px;
}

.post-info-container .action-button > span > span{
    color: #ffffff;
    font-size: 0.6em;
    padding: 5px 0;
    font-weight: bold;
    margin-right: 3px;
}
.post-info-container .ui.selection.dropdown{
    min-height: initial;
    min-width: initial;
}

@media only screen and (max-width: 1280px) {
    #top-searchbar .description {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        margin-left: 0;
        margin-right: 0;
    }

    #main-logo {
        margin-left: 10px;
    }

    .footer {
        padding-left: 3%;
        padding-right: 3%;
    }

    .footer a {
        margin-left: 15px;
    }

    #dashboard-search-field {
        width: 80%;
    }

    .jumbotron {
        font-size: 0.6em;
        height: 400px;
    }

    .jumbotron .dashboard-searchbar {
        align-items: center;
    }

    .jumbotron .dashboard-searchbar input {
        padding: 12px 0;
    }

    .container {
        margin-left: 2%;
        margin-right: 4%;
    }

    #dashboard-sidebar {
        display: none;
    }

    .dashboard-main-content .infinite-scroll {
        margin-top: -10% !important;
    }

    .dashboard-post {
        margin: 0 0 10% 0;
    }

    .dashboard-post-content {
    }

    .explorer-container {
        margin: 5vh 5%;
    }

    .search-container {
        margin: 0 5%;
    }

    .explorer-container .page-container {
        font-size: 0.7em;
    }

    .people-image-container {
        display: none !important;
    }

    .people-avatar {
        width: 2.8em !important;
        height: 2.8em !important;
    }

    .people-container {
        font-size: 0.8em !important;
    }

    .divider {
        height: 13vw !important;
    }

    .comment-text {
        margin-left: 8px !important;
    }
}
