@import url('https://fonts.googleapis.com/css?family=Niramit|Titillium+Web|Kanit');

@font-face {
    font-family: Proxima Nova;
    font-weight: 100;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-thin.svg#svgFontName) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 300;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-light.svg#svgFontName) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-regular.svg#svgFontName) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 600;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-semibold.svg#svgFontName) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 700;
    font-style: normal;
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.eot);
    src: url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.eot#iefix) format("embedded-opentype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.woff2) format("woff2"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.woff) format("woff"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.ttf) format("truetype"), url(https://s.yimg.com/ap/build/fonts/proxima-nova-bold.svg#svgFontName) format("svg")
}

body {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
    position: relative;
}

#main-content{
    background-color: #f3f5f6!important;
}

.explorer-container{
    margin: 5vh 10%;
}

.explorer-nav-bar{
    background-color: #ffffff!important;
    position: fixed!important;
}

.explorer-nav-bar span{
    text-transform: capitalize!important;
    font-size: 1.06em;
}

.profile-nav-bar, .explorer-nav-bar{
    box-shadow: none!important;
    background-color: #ffffff!important;
    border-bottom: 2px solid hsla(0,0%,54%,.3);
}

.containerImageList {
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
}

.main {
    margin-left: 7%;
    margin-right: 7%;
}

.search {
    text-decoration: none;
    border-radius: 25px;
}

.header-transparent {
    background: transparent !important;
    box-shadow: none !important;
}

.header, .footer {
    background: rgba(21, 21, 23, .95) !important;
}

.header {
    box-shadow: 1px 1px 50px 3px #888888 !important;
    transition: background-color 1s;
}

.header input {
    font-size: 0.9em;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-logo img {
    height: 35px;
}

iframe {
    z-index: 0 !important;
    display: block !important;
}

#img-uploader {
    padding: 0 20%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5) 100%), radial-gradient(50% 120%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .7) 100%), url(./assets/img/bg2.jpeg);
}

.sm-line-height > div > span{
    line-height: 1em !important;
}

.md-line-height > div > span{
    line-height: 1.4em !important;
}

#top-searchbar div::before{
    display: none;
}

#top-searchbar div::after{
    border-bottom-color: #989898;
}

.jumbotron {
    height: 60vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, .38) 0, rgba(0, 0, 0, .38) 3.5%, rgba(0, 0, 0, .379) 7%, rgba(0, 0, 0, .377) 10.35%, rgba(0, 0, 0, .375) 13.85%, rgba(0, 0, 0, .372) 17.35%, rgba(0, 0, 0, .369) 20.85%, rgba(0, 0, 0, .366) 24.35%, rgba(0, 0, 0, .364) 27.85%, rgba(0, 0, 0, .361) 31.35%, rgba(0, 0, 0, .358) 34.85%, rgba(0, 0, 0, .355) 38.35%, rgba(0, 0, 0, .353) 41.85%, rgba(0, 0, 0, .351) 45.35%, rgba(0, 0, 0, .35) 48.85%, rgba(0, 0, 0, .353) 52.35%, rgba(0, 0, 0, .36) 55.85%, rgba(0, 0, 0, .371) 59.35%, rgba(0, 0, 0, .385) 62.85%, rgba(0, 0, 0, .402) 66.35%, rgba(0, 0, 0, .42) 69.85%, rgba(0, 0, 0, .44) 73.35%, rgba(0, 0, 0, .46) 76.85%, rgba(0, 0, 0, .48) 80.35%, rgba(0, 0, 0, .498) 83.85%, rgba(0, 0, 0, .515) 87.35%, rgba(0, 0, 0, .529) 90.85%, rgba(0, 0, 0, .54) 94.35%, rgba(0, 0, 0, .547) 97.85%, rgba(0, 0, 0, .55)), url("./assets/img/landing.jpg") no-repeat;
    background-size: cover;
}

.jumbotron > div {
    color: white;
}

.jumbotron h1 {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
}

.jumbotron .dashboard-searchbar {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 3px;
}

.dashboard-searchbar input {
    font-size: 1.2em;
    padding: 15px 0;
}

.dashboard-searchbar span {
    font-size: 3em;
    margin: 5px 5px 0 5px;
}

.jumbotron .trending-searches > a {
    color: hsla(0, 0%, 100%, .8);
    text-decoration: none;
}

.jumbotron .trending-searches > a:not(:last-child)::after {
    content: ", ";
    margin: 2px;
}

.jumbotron .trending-searches > a:hover {
    color: white;
}

.discover-album-small-cards > div{
    padding: 2px 0;
}

.explorer-container .page-container > h1{
    font-size: 2.15em;
    margin-bottom: 0;
}

.explorer-container .page-container > p{
    font-size: 1.15em;
    margin-top: 5px;
}

.explorer-container .page-container > .main-content{
    margin-top: 15px;
}

.people-image-list{
    display: flex;
    overflow: hidden;
    margin: 10px 0 10px 10px;
    position: relative;
}

.people-image-list > img{
    margin-right: 7px;
}

.people-detail{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: rgba(255,255,255,.7);
    transition: 0.5s;
}

.people-detail:hover{
    background: rgba(255,255,255,.85);;
}

.scroll-button{
    bottom: 75px!important;
    width: 38px!important;
    height: 38px!important;
    border: none!important;
    padding: 7px;
    outline: none !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.scroll-button svg{
    fill: rgba(0,0,0,.54);
}

.comment-field{
    width: 100%;
    font-size: 0.9em!important;
    border: none!important;
    margin-left: 10px;
}

.comment-field::after{
    border-bottom-color: #989898!important;
}