body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  margin-left: 10%;
  margin-right: 10%;
}

.main{
  margin-left: 8%;
  margin-right: 8%;
}

.search{
  text-decoration: none;
  border-radius: 25px;
}

.header{
  background: linear-gradient(45deg, black, gray);
  height: 8%;
}

.main-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-logo img {
  height: 35px;
}
